# Anthropic API Configuration
ANTHROPIC_API_KEY=your-api-key-here

# GitHub App Configuration
GITHUB_APP_ID=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
WEBHOOK_SECRET=12975875544a0a12d9f633759d9b4b18e2a0840ab0a1d0c1a6fbeb930049984a
WEBHOOK_PROXY_URL=https://smee.io/jTiTh2VpNzNdzMr

# Application Configuration
MODE=web
DEBUG=False
